:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

nav {
	height: 8vh;
	padding-left: 25%;
	padding-right: 25%;
}

.content {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 92vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 12em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.bsp-animation:hover {
	animation: vertical 6s linear infinite 0s;
}

.flight-animation {
	animation: flight 6s linear infinite 0s;
}

@keyframes flight{
	0%{
		transform:rotate(0deg)
		translate(165px)
		rotate(0deg);

	}
	100%{
		transform:rotate(360deg)
		translate(165px)
		rotate(-360deg);
	}
}

@keyframes vertical{
	0% { opacity: 0; }
	33% { opacity: 1; transform: rotateX(180deg); }
	50% { opacity: 1; transform: rotate(-40deg); }
	66% { opacity: 1; transform: translateY(0px); }
	100% { opacity: 0; }
}
